<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<script>
window.onload = function(){
  var val = document.getElementById("file").value;

  if (!val){
    document.getElementById("submit_file").disabled = true;
  }
}

function enableButton(){
    var val = document.getElementById("file").value;

  if (val){
    document.getElementById("submit_file").disabled = false;
  }
}

</script>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div style="margin: 0 20px 0 20px">
    <%= form_tag({action: :import_receivers, institution_id: page.resource.id}, multipart: true) do %>
      <%= file_field_tag 'file', onchange: "enableButton()" %>
      <div style="margin-top: 10px">
        <%= submit_tag "Import receivers from csv", id: "submit_file" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
    <% end %>
  </dl>
</section>
